*
!.gitignore
!Makefile
!README.md
!init.sh
!/nemu/
!/nemu/**
!/am-kernels/
!/am-kernels/**
!/npc/
!/npc/**
!/abstract-machine/
!/abstract-machine/**
!/fceux-am/
!/fceux-am/**
build/
.cache/
/.hdl_checker/
