*
!.gitignore
!Makefile
!README.md
!init.sh
!/nemu/
!/nemu/**
!/am-kernels/
!/am-kernels/**
!/npc/
!/npc/**
!/abstract-machine/
!/abstract-machine/**
# !/fceux-am/
# !/fceux-am/**
!/nanos-lite/
!/nanos-lite/**
!/navy-apps/
!/navy-apps/**
build/
.cache/
/.hdl_checker/
/am-kernels
